@import url(~normalize.css/normalize.css);
body {
  background-color: #a8d0e6;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

.main-header {
  height: 100%;
  width: 100%;
  background-color: #f76c6c;
  position: fixed;
  left: 95%; }

.header-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: .5s; }
  .header-menu-icon:hover {
    background-color: #a8d0e6; }

.header-hamburger-icon {
  width: 40px;
  height: 5px;
  position: relative;
  background-color: #24305e;
  transition: .5s; }
  .header-hamburger-icon::before, .header-hamburger-icon::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #24305e;
    transition: .5s; }
  .header-hamburger-icon::before {
    top: -12px; }
  .header-hamburger-icon::after {
    top: 12px; }

.menu-open {
  background-color: #a8d0e6; }

.menu-open .header-hamburger-icon {
  background-color: rgba(0, 0, 0, 0); }

.menu-open .header-hamburger-icon::before {
  top: 0;
  transform: rotate(45deg); }

.menu-open .header-hamburger-icon::after {
  top: 0;
  transform: rotate(135deg); }

.logo-header {
  color: #24305e;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1rem;
  transform: rotate(-90deg);
  display: block;
  bottom: 0;
  left: 2.2%;
  position: absolute;
  width: 10px;
  margin-bottom: 1rem; }
