.main-content-hero {
  padding-left: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: url(/images/galaxy-listing-freebie.svg) no-repeat 50% 50%;
  background-size: cover;
  // background-color: rgba(0, 0, 0, 0.3);


  &-text-one {
    margin: 0;
    font-size: 4rem;
    color: #fff;
    // opacity: 0;
    animation: show-text 0.0001s linear forwards;
    animation-delay: 1.4s;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }


  &-text-two {
    margin-top: .8rem;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
  }
}


