doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bart Lewandowski &bull; Web Developer
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700", rel="stylesheet")
    link(href="/assets/main.css", rel="stylesheet")
    script(src="/assets/main.js", defer)
  body
    header
      block header
    main
      block main
    section
      block about


